*~
*.log
Makefile.conf
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
asf.gpr
asf_aws.gpr
asf_core.gpr
asf_tests.gpr
asf_unit.gpr
tests.xml
asf-tests.xml
autom4te.cache
bin/
obj/
lib/
asf-aunit.xml
distrib/asf.gpr
regtests/results/
/samples.gpr
wiki
cover
alire
asf.cov
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
docs/*.aux
docs/*.out
docs/*.toc
docs/asf-book.tex
docs/asf-book.html

