*~
*.log
Makefile.conf
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
tests.xml
asf-tests.xml
bin/
obj/
lib/
asf-aunit.xml
regtests/results/
wiki
cover
alire
asf.cov
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
docs/*.aux
docs/*.out
docs/*.toc
docs/asf-book.tex
docs/asf-book.html

