*~
*.log
Makefile
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
Makefile
asf.gpr
tests.gpr
tests.xml
asf-tests.xml
autom4te.cache
bin/
obj/
lib/
asf-aunit.xml
distrib/asf.gpr
regtests/result/
regtests/asf-testsuite.adb
