h1 {
    clear: both;
    padding-top: 15px;
}
#awa-this-source {
    float: left;
    margin-left: 10%;
}
#awa-content h3 {
	padding-bottom: 40px;
	padding-top: 40px;
}
div.openid-login {
	float: left;
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-right: 10px;
}

div.openid-login a {
	display: block;
	height: 35px;
	width: 100px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	line-height: 35px;
}

a.openid-google em {
	display: block;
	float: left;
	padding: 5px;
	background: url(../images/open-id-logos-1.png);
	width: 100px;
	height: 35px;
	overflow: hidden;
}
a.openid-google-plus em {
  margin-left: 3px;
  margin-right: 10px;
  background-position: 0 -312px;
  height: 33px;
  width: 37px;
  border-right: 1px solid #bb3f30;
}
div.openid-gravatar {
    float: left;
    padding-right: 2%;
}
div.openid-info {
    float: left;
    width: 80%;
    border: 1px solid #ccc;
    padding: 1%;
}
div.openid-info dt {
    float: left;
    width:  100px;
    clear: left;
}
div.openid-info dd {
    float: left;
    padding-left: 20px;
}
div.openid-retry {
	float: left;
	clear: both;
	padding-top: 30px;
}
#content {
/*    float: left;
    clear: both; */
    margin-top: 10px;
}
#nav {
    margin-top: 26px;
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    background-color: #444; /* #f0f0f0; */
    /* border: 1px solid #bcd; */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px 6px;
    display: block;
}
#nav ul {
    list-style-type: none;
    float: left;
}
#nav li {
    float: left;
    font-size: 13px;
    margin-right: 5px;
}
#nav li a, #nav li a:visited, ul.selectorx a, ul.selectorx a:visited {
    display: block;
    height: 30px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #616243;
    color: #ddd;
    font-weight: bold;
    border-bottom: 3px solid #333;
    margin-bottom: 3px;
}
#nav li a:hover {
    border-bottom: 3px solid orange;
    color: #fff;
}
.sample-openid #nav #nav-openid a,
.sample-forms #nav #nav-forms a,
.sample-facebook #nav #nav-facebook a,
.sample-jstl #nav #nav-jstl a,
.sample-facelet #nav #nav-facelet a,
.sample-demos #nav #nav-demos a,
.sample-util #nav #nav-util a,
.sample-jsf-core #nav #nav-jsf-core a,
.sample-jsf-html #nav #nav-jsf-html a,
.sample-widgets #nav #nav-widgets a,
.sample-ajax #nav #nav-ajax a,
.sample-upload #nav #nav-upload a,
.sample-utf8 #nav #nav-utf8 a {
    background-color: #ccc;
    color: #f0f0f0;
    font-weight: bold;
    background-color: #fff;
    color: #333;
    border-color: #fff;
}
.sample-openid #nav #nav-openid,
.sample-forms #nav #nav-forms,
.sample-jstl #nav #nav-jstl,
.sample-facelet #nav #nav-facelet,
.sample-demos #nav #nav-demos,
.sample-ajax #nav #nav-ajax,
.sample-jsf-core #nav #nav-jsf-core,
.sample-jsf-html #nav #nav-jsf-html,
.sample-widgets #nav #nav-widgets,
.sample-util #nav #nav-util,
.sample-upload #nav #nav-upload,
.sample-utf8 #nav #nav-utf8 {
     background-color: #fff;
    /* -webkit-border-radius: 6px 6px; */
}
#container, .asf-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
div.sample {
    float: left;
    clear: both;
    width: 500px;
    border: 1px solid #bcd;
    background-color: #ffffff;
    padding: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px 6px;
}
#item1 {
    background-color: #ddd;
}

#index {
    padding-left: 5%;
}
#index dt {
    clear: both;
    padding-top: 20px;
}
#index dd {
    clear: both;
    padding-left: 20px;
}
div.code {
    border: 2px solid #bcd;
    font-family: courier;
}
code {
    white-space: pre;
}

ul.buttons, ul.selector {
    padding-top: 10px;
    list-style-type: none;
    height: 35px;
    display: block;
    float: left;
}
ul.buttons li, ul.selector li {
    float: left;
    padding-right: 10px;
}
.container_12 {

}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    margin-left: 0;
}
/*
ul.selector {
    float: left;
    width: 100%;
    height: 57px;
    border-bottom: 1px solid #a0a0f0;
}*/
/*
ul.selector li {
    padding: 0px;
    margin-left: 5px;
}*/
ul.selector a {
    text-decoration: none;
    font-weight: bold;
    color:
}
li.active {
    background-color: #ddd;
}

#result {
    margin-top: 10px;
}

.kwd {
    font-weight: bold;
}
.left {
    float: left;
}
#form-block {
    margin-right: 50px;
}
.ui-tabs .ui-tabs-panel {
    padding-right: 0;
}
.ui-tabs-panel div.grid_8 {
    float: right;
    width: 66%;
}
.ui-tabs-panel div.grid_4 {
    float: left;
    width: 33%;
}
ul.tag-doc {
    float: left;
    display: block;
    list-style-type: none;
    width: 99%;
    margin-bottom: 10px;
}
ul.tag-doc b {
    display: inline-block;
    float: left;
    width: 15%;
    font-weight: normal;
}
ul.tag-doc i {
    display: inline-block;
    float: left;
    width: 15%;
    font-weight: normal;
    font-style: normal;
}
ul.tag-doc span {
    display: inline-block;
    float: left;
    width: 59%;
}
ul.tag-doc li {
    float: left;
    width: 99%;
    display: block;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
li.attr-required {
    color: #333;
}
li.attr-optional {
    color: #888;
}
ul.tag-doc li.attr-unimpl {
    color: #ddd;
    display: none;
}
li.attr-required b {
    font-weight: bold;
}
div.doc-conformity {
    font-size: 0.8em;
    color: #888;
}
ul.collapsed {
    display: none;
}
h2.collapsed {
    background-color: #f0f0f0;
}
h2 {
    margin-bottom: 5px;
    margin-top: 10px;
}
h2.tag-name, h2.tag-attr {
    border-bottom: 1px solid #ddd;
}
h2.tag-attr {
    margin-top: 10px;
}
#code-html {
    overflow: hidden;
    width: 99%;
    white-space: pre;
}
.left h2 {
    clear: both;
}
div.forum {
    float: left;
    display: block;
}
.forum .message {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    display: block;

}
.forum .email {
    float: left;
    width: 100%;
    color: #888;
    font-weight: bold;
    display: block;
}
.forum .text {
    float: left;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
}
#forum-posts {
    width: 100%;
}
.friend {
    float: left;
    width: 49%;
}
.friend .name {
    float: left;
    width: 100%;
}
.feed {
    float: left;
    width: 100%;
    border-bottom: 1px solid #bcd;
}
div.demo-country {
    float: left;
    width: 96%;
    padding-left: 80px;
}
#list-action {
    left: -20px;
    width: 80px;
}
div.demo-country div.name, div.demo-country div.country-code {
    float: left;
    width: 140px;
}
div.demo-popup {
    -webkit-border-radius: 6px 6px;
    border: 1px solid #bcd;
    background: #fff;
}
div.asf-message {
    background-color: #f7b88d;
    border: 1px solid #db6130;
    padding: 5px;
}
div.asf-notification {
    background-color: #B8e980;
    border: 1px solid #7cb13b;
    padding: 5px;
}
div.gravatar {
    display: block;
    /* padding: 5px;*/
}
div.gravatar span {
    text-align: center;
    width: 100%;
    display: block;
}
div.gravatar img {
    margin: auto;
    display: block;
}
div.likes {
    float: left;
    padding-top: 5px;
    padding-left: 10%;
    width: 90%;
    height: 30px;
}
div.likes div.like-facebook, div.likes div.like-google, div.likes div.like-twitter {
    width: 100px;
    float: left;
    height: 30px;
    overflow: hidden;
}
div.likes div.like-google {
    width: 70px;
}
.sample-demos div.likes {
    padding-left: 20%;
    width: 80%;
}
dl.list {
    width: 100%;
    float: left;
}
dl.list dt {
    clear: left;
    float: left;
    width: 20%;
}
dl.list dd {
    float: left;
    width: 78%;
}
