/*
 * Reset the browser pre-defined CSS.
 */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, label {
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: #e0ecec;
}

div {
  float: left;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #bcd;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px 6px;
}
h1 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

h2 {
  clear: left;
  float: left;
  padding: 10px;
  font-size: 15px;
  padding-top: 20px;
}

dl {
  float: left;
  width: 500px;
  border: 1px solid #bcd;
  background-color: #ffffff;
  padding: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px 6px;
}
dt {
  clear: left;
  float: left;
  font-weight: bold;
  width: 20%;
  height: 20px;
  line-height: 24px;
  padding: 5px;
}
dd {
  float: left;
  padding: 5px;
}
#content {
    float: left;
    clear: both;
    margin-top: 10px;
}
#nav {
    width: 100%;
    padding: 0;
}
#nav ul {
    list-style-type: none;
    float: left;
}
#nav li {
    float: left;
    font-size: 13px;
    margin-right: 5px;
}
#nav li a, #nav li a:visited {
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #616243;
    font-weight: bold;
}
.sample-compute #nav #nav-compute a {
    background-color: #ccc;
    color: #f0f0f0;
    font-weight: bold;
}
